# Dependencies
node_modules/
package-lock.json

# Build output
_site/
dist/

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
